body{
    margin: auto;
    padding: auto;
}
.a{
    position: relative;
    width: 250px;
    height: 100%;
    background-image: url(/p1/i.jpg);
    background-size:cover;
    background-position:center;   
}
header{
    display: flex;
    background-color: rgb(231, 231, 247);
    width: 100%;
    height: 150px;
}
.a1{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 35%;
    height: 100%;
    width: 350px;
}
.p{
    text-decoration:none;
    font-size: 130%;
}
.a2{
    position: relative;
    width: 100%;
    height: 300px;
}
.pic{
    position: relative;
    background-image: url(/p1/1.jpg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 300px;
}
.b{
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: space-around;
}
.back{
    position: relative;
    left: 10%;
    width: 80%;
    height: 100%;
    background-color: darkgray;
}
.runa{
    position: relative;
    height: 100%;
    width: 45%;
}
.run{
    position: relative;
    background-image: url(/inhome\ pic/run.jpg);
    background-size:cover;
    background-position:center; 
    top: 55px;
    width: 100%;
    height: 450px;
    text-align: center;
    line-height: 400px;
    font-size: 75px;
}
.runt{
    display: none;
    position: relative;
    width: 100%;
    height: 80%;
    left: 10%;
    font-size: larger;
}
.run:hover{
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);
}
.run:hover span{
    display: block;
    color: white;
}
.run span{
    display: none;
}
.bikea{
    position: relative;
    height: 100%;
    width: 45%;
}
.bike{
    position: relative;
    background-image: url(/inhome\ pic/bike.jpg);
    background-size:cover;
    background-position:center;
    top: 55px;
    width: 100%;
    height: 450px;
    text-align: center;
    line-height: 400px;
    font-size: 75px;
}
.biket{
    display: none;
    position: relative;
    width: 100%;
    height: 80%;
    left: 10%;
    font-size: larger;
}
.bike:hover{
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);
}
.bike:hover span{
    display: block;
    color: white;
}
.bike span{
    display: none;
}
.powera{
    position: relative;
    height: 100%;
    width: 45%;
}
.power{
    position: relative;
    background-image: url(/inhome\ pic/power.jpg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 450px;
    text-align: center;
    line-height: 400px;
    font-size: 75px;
}
.powert{
    display: none;
    position: relative;
    width: 100%;
    height: 80%;
    left: 10%;
    font-size: larger;
}
.power:hover{
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);
}
.power:hover span{
    display: block;
    color: white    ;
}
.power span{
    display: none;
}
.othera{
    position: relative;
    height: 100%;
    width: 45%;
}
.other{
    position: relative;
    background-image: url(/inhome\ pic/other.jpg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 450px;
    text-align: center;
    line-height: 400px;
    font-size: 75px;
}
.othert{
    display: none;
    position: relative;
    width: 100%;
    height: 80%;
    left: 10%;
    font-size: larger;
}
.other:hover{
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);
}
.other:hover span{
    display: block;
    color: white    ;
}
.other span{
    display: none;
}

footer{
    height: 127px;
    width: 100%;
    text-align: center;
    background-color: rgb(221, 221, 221);
    font-size: 14px;
    color: dimgray;
    font-family:sans-serif;
    font-weight:bolder;
}
.bu{
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}
.bu span{
    cursor: pointer;
    display: block;
    border-radius: 15px;    
    border: 2px solid black;
    font-size: 20px;
    background-color: rgba(255, 222, 218,0.8);
}
.ww{
    display: none;
}
@media screen and (max-width:900px){
    .b{
        display: block;
    }
    .runa{
        width: 80%;
        left: 10%;
    }
    .bikea{
        width: 80%;
        left: 10%;
    }
    .powera{
        width: 80%;
        left: 10%;
    }
    .othera{
        width: 80%;
        left: 10%;
    }
    .power{
        top: 55px;
    }
    .other{
        top: 55px;
    }
    .ww{
        display: unset;
    }

}
@media screen and (max-width:550px){
    .p{
        font-size: medium;
    }
    .a{
        width: 150px;
    }
    header{
        height: 100px;
    }
    .run{
        height: 300px;
        line-height: 300px;
    }
    .bike{
        height: 300px;
        line-height: 300px;
    }
    .power{
        height: 300px;
        line-height: 300px;
    }
    .other{
        height: 300px;
        line-height: 300px;
    }
}