body{
    margin: auto;
    padding: auto;
}
.a{
    position: relative;
    width: 250px;
    height: 100%;
    background-image: url(/p1/i.jpg);
    background-size:cover;
    background-position:center;
}
header{
    display: flex;
    background-color: rgb(231, 231, 247);
    width: 100%;
    height: 150px;
}
.a1{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 35%;
    height: 100%;
    width: 350px;
}
.p{
    text-decoration:none;
    font-size: 130%;
}
.p1{
    position: relative;
    background-image: url(/p1/1.jpg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 300px;
}
.a2{
    position: relative;
    left: 10%;
    width: 80%;
    height: 100%;
    background-color: rgb(163, 204, 228);
}